Package: python-grafana-api-client
Source: grafana-api-client
Version: 0.0.1
Architecture: all
Maintainer: George Shuklin <george.shuklin@gmail.com>
Installed-Size: 24
Depends: python-requests, python-six, python:any (<< 2.8), python:any (>= 2.7.5-5~), python-pkg-resources
Section: contrib/python
Priority: optional
Homepage: https://github.com/htch/grafana_api_client
Description: Very basic Grafana API wrapper
 Supports Grafana v2.1.0
 Please refer to the Grafana API Documentation
 for a list of available methods.
